@font-face {
  font-family: 'A.Casual.Handwritten.Pen';
  src: url('/fonts/handwritingFont.ttf');
}

@font-face {
  font-family: 'Sono Medium';
  src: url('/fonts/sonoMedium.ttf');
}


.next-button {
  -fx-background-image: url("/images/nextbutton.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.next-button:hover {
  -fx-opacity: 0.8;
}

.next-button:active {
  -fx-opacity: 0.6;
}

.prev-button {
  -fx-background-image: url("/images/prevbutton.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.prev-button:hover {
  -fx-opacity: 0.8;
}

.prev-button:active {
  -fx-opacity: 0.6;
}

.send-button {
  -fx-background-image: url("/images/sendbtn.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.send-button:hover {
  -fx-opacity: 0.8;
}

.send-button:active {
  -fx-opacity: 0.6;
}

.send-button:disabled {
  -fx-background-image: url("/images/disabledsend.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.back-button {
  -fx-background-image: url("/images/backbtn.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-opacity: 1;
}

.back-button:hover {
  -fx-background-image: url("/images/hoverback.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.no-highlight {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-border-color: transparent;
}

.guess-button {
  -fx-background-image: url("/images/guessbtn.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-opacity: 1;
}

.guess-button:hover {
  -fx-background-image: url("/images/hoverguess.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.guess-button:disabled {
  -fx-background-image: url("/images/disabledguess.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}


.replay-button {
  -fx-background-image: url("/images/replaybtn.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-opacity: 1;
}


.replay-button:hover {
  -fx-background-image: url("/images/hoverreplay.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
}

.start-button {
  -fx-background-image: url("/images/startbtn.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-opacity: 1;
}

.start-button:hover {
  -fx-background-image: url("/images/hoverstart.png");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-color: transparent;
  -fx-text-fill: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-opacity: 1;
}

#timerLabel {
  -fx-font-size: 30;
  -fx-text-fill: rgb(94, 63, 40);
  -fx-font-family: 'Sono Medium', monospace;
  -fx-font-weight: 800;
}

.scroll-pane {
  -fx-background-color: #e4e6f1;
}

.scroll-bar:vertical {
  -fx-background-color: #e4e6f1;
  -fx-pref-width: 15;
  -fx-padding: 0;
}

.scroll-bar:horizontal {
  -fx-background-color: #e4e6f1;
  -fx-pref-height: 10;
  -fx-padding: 0;
}

.scroll-bar:vertical .track {
  -fx-background-color: #e4e6f1;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-pref-width: 30;
}

.scroll-bar:horizontal .track {
  -fx-background-color: #e4e6f1;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: #bbb6e0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background-radius: 10;
}

.scroll-bar:horizontal .thumb {
  -fx-background-color: #bbb6e0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background-radius: 10;
}

.scroll-bar:vertical .thumb:hover {
  -fx-background-color: #9f98d3;
  -fx-cursor: hand;
}

.scroll-bar:horizontal .thumb:hover {
  -fx-background-color: #9f98d3;
  -fx-cursor: hand;
}

/* hide the arrows */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-pref-height: 0;
  -fx-opacity: 0;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-pref-width: 0;
  -fx-opacity: 0;
}


#feedbackDisplay {
  -fx-font-size: 24px;
  -fx-background-color: #e9e4f0 !important;
  -fx-text-fill: rgb(38, 33, 100) !important;
  -fx-highlight-text-fill: rgb(38, 33, 100);
  -fx-control-inner-background: #e9e4f0 !important;
  -fx-border-width: 0;
  -fx-border-color: #e9e4f0 !important;
  -fx-focus-color: #e9e4f0 !important;
  -fx-faint-focus-color: #e9e4f0 !important;
  -fx-display-caret: true;
  -fx-highlight-fill: #98a1cd;
  -fx-font-family: 'A.Casual.Handwritten.Pen';
  -fx-effect: null;
  -fx-background-insets: 0;

}